*{
    font-family: Josefin Slab;
}
body{
	background-color:#f7f7f7;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
	color:#00b0ff;
}

h1#upper{text-transform: uppercase;
text-align: center;
font-family: Rock Salt}


h2.sub{
    color:#a79898;
    text-align: center;
    font-size: 30px;
}

h3.sub{
    text-align: center;
}

h1.huge{
    font-size: 60px;
}

p{
	font-size:20px;
    text-align: justify;
}

a{font-family: "Avant Garde", Avantgarde, sans-serif;
	font-size:16px;
    text-decoration: none;
}

a:link{color: #00b0ff;}
a:visited{color: #c0392b;}
a:hover{color: black;}
a:active{color: #c0392b;}

div{
    margin: 0px 20px;
}

div.container{
    width: 960px;
	margin: 0 auto;
}

figure{
    margin-left: 400px;
}

div.row{
    margin: 5px;
}

sidebar, .content {
	margin-left: auto;
    margin-right: auto;
}

sidebar {
	width: 960px;
    border-style: none;
    background-color: transparent;
    height: 100%;
}

.content {
	width: 760px;
}

.small{
    font-size: 16px;
}

img{
    display: block;
}

.caption{
    padding: 5px;
    align-content: center
}

img.profile{
    width: 100px;
    height: 100px;
    border-radius: 25px
}


